
@font-face {
    font-family: "SF-Pro";
    src: url("/custom_website/static/src/fonts/SF-Pro-Display-Regular.otf") format("truetype");
    font-weight: normal;
}

 @font-face {
    font-family: "SF-Pro";
    src: url("/custom_website/static/src/fonts/SF-Pro-Display-Bold.otf") format("truetype");
    font-weight: bold;
 }
