.custom_home_page {
  background-color: #EAECF0;


  .homepage-banner {
    background-image: url('/custom_website/static/src/images/home_page_banner.png');
    background-position: top left;
    background-repeat: no-repeat;
    height: 540px;
    /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* Example text color */

    position: relative;

    .homepage-banner-buy {
      width: 400px;
      height: 40px;
      background-color: black;
      position: absolute;
      top: 335px;
      left: 160px;
    }
  }

  .highlight-product-section {

    .highlight-product-carousel {
      // Light background color
      min-width: 497px;
      // display: flex;
      // padding: unset !important;
      // position: relative;

      // width: 384px;
      height: 506px;
      // padding: 24px;
      // margin: 32px 12px;

      .carousel-item {
        .card {
          box-shadow: 2px 4px 12px #00000014;
          transition: box-shadow 0.3s, transform 0.3s;

          &:hover {
            box-shadow: 2px 4px 15px #00000025;
            transform: scale(1.05);
          }
        }

        .highlight-product-banne-layout {
          margin: 24px;
          max-width: 497px;
          height: 506px;
        }
      }

      .highlight-product-banner {
        // Your styles for the banner
        min-width: 497px;
        // background-color: #f8f9fa;
        // height: 506px;
        // width: 497px;
        padding: 24px 0;
        margin: 32px 0;

        .highlight-product-banner-card {
          align-items: center;
          width: 497px;
          // height: 450px;
          padding: 24px;
        }

        // Adjust other styles as needed
        .homepage-banner-img {
          width: 400px;
          height: 400px;
        }

        .homepage-banner-text {
          // width: 309px;
          height: 52px;

          font-size: 40px !important;
          font-weight: 590 !important;
          line-height: 52px !important;
          letter-spacing: 0em !important;
          text-align: center !important;

          .Highlight {
            color: #0D519B !important;
          }

          .Product {
            color: #25AADD !important;
          }
        }
      }
    }

  }

}


@media (min-width: 1440px) {
  .homepage-banner {
    background-size: 100% 100%;
  }

  .homepage-banner-buy {
    width: 500px !important;
  }
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}