.custom_home_page {
  .homepage-banner {
    background-image: url('/custom_website/static/src/images/home_page_banner.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-position: top left;
    height: 540px;
    /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* Example text color */

    position: relative;

    .homepage-banner-buy {
      width: 328px;
      height: 57px;
      background-color: black;
      position: absolute;
      top: 335px;
      left: 165px;
    }
  }
}