.o_wsale_products_page {
    .o_wsale_filmstip_container {
        height: 102px;

        .o_wsale_filmstip_wrapper {
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
            height: 102px;

            .o_wsale_filmstip {
                .product-category-button {
                    height: 82px;
                    padding: 0px 20px;

                    span {
                        font-size: 12px;
                        font-weight: 274;
                        line-height: 20px;
                        text-align: left;
                        color: #1D1D1F;
                    }
                }
            }
        }
    }

    .oe_website_sale {
        margin-top: 48px;

        .o_wsale_products_main_row {
            margin-top: 0px;

            #products_grid {
                .oc_categ {
                    .oc_categ_img {
                        .oc_image_68_contain {
                            margin: 10px 0;
                            width: 64px;
                            height: 44px;
                            object-fit: contain;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }

                    .oc_categ_title {
                        margin: 10px 16px;
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 44px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color: #0D519B;


                    }
                }

                .oc_tags {
                    padding: 32px 0;

                    .oc_tags_form {
                        display: block;
                        padding-right: 1em;

                        .btn-check {
                            &:checked {
                                +.oc_tags_form_label {
                                    border: 1px solid #007AFF;
                                }
                            }
                        }


                        .oc_tags_form_label {
                            font-size: 16px;
                            font-weight: 510;
                            line-height: 28px;
                            text-align: left;
                            color: #595961;
                            padding: 8px 12px;

                        }
                    }
                }
            }
        }
    }
}