#product_detail {
    .breadcrumb {
        color: #475467;
        font-weight: 500;
        font-size: 14px;

        .breadcrumb-item {
            img {
                width: 20px;
                height: 20px;
            }
        }
    }




}


.oe_website_sale {
    .oc-product-style {
        position: relative;
        min-height: 100vh;


        .product_form {
            .js_main_product {}

            .add-to-cart {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                background: #F5F5F7;

                .pickup {
                    padding-left: 8px;

                    .pickup-header {
                        font-size: 17px;
                        font-weight: 510;
                        line-height: 22px;
                        text-align: left;
                        color: #1D1D1F;
                    }

                    .pickup-title {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                        text-align: left;
                        color: #007AFF;
                    }
                }

                #add_to_cart_wrap {
                    .total {
                        font-size: 30px;
                        font-weight: 590;
                        line-height: 38px;
                        text-align: left;
                        color: #1D1D1F;
                    }

                    #add_to_cart {
                        background: #007AFF;
                        padding: 7px 20px;
                        gap: 4px;
                        border-radius: 1000000px;
                        opacity: 0px;
                        margin-left: 24px;
                    }
                }

            }
        }

        .product-variant-sytle {
            .attribute_name {
                &::after {
                    border-bottom: unset !important;

                }
            }

            .o_wsale_product_attribute {
                .js_attribute_value {
                    padding-left: unset;
                }

            }

        }
    }
}

.js_add_cart_variants {
    .variant_attribute {
        .attribute_name {}

        .css_attribute_select {}

        .o_wsale_product_attribute {
            .js_attribute_value {

                .col-form-label {
                    .form-check {
                        display: inline-block;
                        margin: 0 !important;
                        padding: 0 !important;

                        .form-check-input {
                            display: none;

                            &:checked {

                                +.option-check-label {
                                    border: 1px solid #007AFF;
                                }
                            }


                        }

                        .option-check-label {
                            display: block;
                            border: 1px solid #8F8F94;
                            border-radius: 12px;
                            opacity: 0px;

                            padding: 8px 16px;
                            /* padding */
                            cursor: pointer;

                            &:hover,
                            &:focus {
                                border: 1px solid #007AFF
                            }




                            .option-header {}

                            .option-title {}
                        }
                    }
                }

            }
        }
    }
}

// .add-to-cart {
//     height: 92px;
//     background: #f5f5f7;
//     border-top: 1px solid #cfd0d2;
//     position: sticky;
//     bottom: 0;
//     z-index: 9999;
//     padding-top: 24px;
//     padding-bottom: 24px;

//     .bag-icon {
//         width: 25px;
//         height: 25px;
//         margin-right: 8px;
//     }

//     .pickup-header {
//         font-size: 17px;
//         font-weight: 500;
//         color: #1d1d1f;
//     }

//     .pickup-title {
//         font-size: 14px;
//         color: #007aff;
//     }

//     .total {
//         font-size: 30px;
//         font-weight: 600;
//         color: #1d1d1f;
//         margin-right: 24px;
//     }

//     .btn-add {
//         height: 36px;
//         font-size: 17px;
//         width: 125px;
//         border-radius: 1000000px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }