.o_wsale_products_page {
    .o_wsale_filmstip_container {
        height: 102px;

        .o_wsale_filmstip_wrapper {
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
            height: 102px;

            .o_wsale_filmstip {
                .product-category-button {
                    height: 82px;
                    padding: 0px 20px;

                    span {
                        font-size: 12px;
                        font-weight: 274;
                        line-height: 20px;
                        text-align: left;
                        color: #1D1D1F;
                    }
                }
            }
        }
    }

    .oe_website_sale {
        margin-top: 48px;

        .o_wsale_products_main_row {
            margin-top: 0px;

            #products_grid {
                .oc_categ {
                    .oc_categ_img {
                        .oc_image_68_contain {
                            margin: 10px 0;
                            width: 64px;
                            height: 44px;
                            object-fit: contain;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }

                    .oc_categ_title {
                        margin: 10px 16px;
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 44px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color: #0D519B;


                    }
                }

                .oc_tags {
                    padding: 32px 0;

                    .oc_tags_form {
                        display: block;
                        padding-right: 1em;

                        .btn-check {
                            &:checked {
                                +.oc_tags_form_label {
                                    border: 1px solid #007AFF;
                                }
                            }
                        }


                        .oc_tags_form_label {
                            font-size: 16px;
                            font-weight: 510;
                            line-height: 28px;
                            text-align: left;
                            color: #595961;
                            padding: 8px 12px;

                        }
                    }
                }

                .os_form_classes {
                    
                    .os_input_classes {
                        min-width: 155px;
                        padding: 10px 14px;
                        border: 1px solid !important;
                        box-shadow: 0px 1px 2px 0px #1018280D;

                        &:hover {
                            color: #667085;
                        }

                        &::placeholder {
                            padding-left: 42px;
                            margin: 10px 0;
                        }

                        &:not(:placeholder-shown) {
                            +.os_button_classes {
                                display: none;
                            }
                        }
                    }

                    .os_button_classes {
                        background-repeat: no-repeat;
                        background-position: 14px 12px;
                        background-image: url('/custom_website/static/src/images/product_search_item.png');

                        .oi-search {
                            color: #667085;
                            width: 20px;
                            height: 20px;

                            &::before {
                                content: none;
                            }
                        }


                        .oe_search_found {
                            display: none;
                        }
                    }
                }

                .filter_layout_btn {
                    padding: 10px 18px;
                    box-shadow: 0px 1px 2px 0px #1018280D;

                    &::after {
                        content: none !important;
                        display: none !important;
                    }

                    .filter_layout_label {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        padding-left: 28px;
                        text-align: left;
                        color: #667085;
                    }

                    .filter_layout_icon {
                        width: 20px;
                        height: 20px;


                    }


                    .filter_layout_f_icon {
                        background-image: url('/custom_website/static/src/images/product_filter_item.png');
                    }

                    .filter_layout_s_icon {
                        background-image: url('/custom_website/static/src/images/product_sort_item.png');
                    }
                }

                .o_wsale_products_grid_table_wrapper {
                    .oe_product_custom {
                        padding: 16px;

                        .o_wsale_product_grid_wrapper {
                            box-shadow: 0px 10px 16px -4px #10182814;
                            background: #FFFFFF;
                            padding: 24px 0px 0px 0px;
                            /* gap: 12px; */
                            border-radius: 16px;

                            .o_wsale_products_item_form {

                                .oe_product_image {
                                    max-height: 232px;

                                    .oe_product_image_link {
                                        .oe_product_image_img_wrapper {
                                            padding: 24px 24px 6px;

                                            img {
                                                width: 232px !important;
                                                height: 207.14px !important;
                                                top: 12px;
                                            }
                                        }
                                    }

                                }

                                .o_wsale_product_information {
                                    .o_wsale_product_information_text {
                                        padding: 6px 24px 12px;

                                        .o_wsale_products_item_title {
                                            margin: 0;

                                            font-size: 18px;
                                            font-weight: 510;
                                            line-height: 28px;
                                            text-align: left;
                                            color: #111927;

                                            .text-primary {
                                                color: #111927 !important;
                                            }


                                        }
                                    }
                                }

                                .o_wsale_product_attribute {
                                    .o_wsale_product_attribute_item {
                                        padding: 6px 24px 24px;

                                        span {
                                            padding: 4px 8px;
                                            border-radius: 6px;
                                            border: 1px solid #84858C;

                                            //styleName: Text xs/Regular;
                                            font-size: 12px;
                                            font-weight: 400;
                                            line-height: 18px;
                                            text-align: left;
                                            color: #595961;


                                        }
                                    }
                                }

                            }

                        }
                    }
                }

            }
        }
    }
}